.other-msg {
	padding-left: 25px;
	display: flex;
	align-items: flex-end;
	gap: 6px;
	min-width: 144px;
	max-width: 431px;
}

.other-msg_mobile {
	padding-left: 5px;
	max-width: 285px;
}

.other-msg__photo {
	flex: 0 0 36px;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: VAG;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.other-msg__photo_mobile {
	flex: 0 0 30px;
	width: 30px;
	height: 30px;
	font-size: 14px;
}
.other-msg__body {
	max-width: 431px;
	min-width: 144px;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.03);
	background-color: #fff;
	border-radius: 10px 10px 10px 5px;
	z-index: 10;
	margin-left: 5px;
}

.other-msg__triangle {
	position: relative;
}

.other-msg__triangle::before {
	content: "";
	position: absolute;
	border-bottom: 10px solid #fff;
	border-left: 10px solid transparent;
	bottom: 0;
	left: -5px;
	z-index: 20;
}

.other-msg__time-and-status {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 5px;
}

.other-msg__time {
	font-size: 12px;
	font-weight: 400;
	color: #8f8f8f;
}

.other-msg__first-name-letter {
	user-select: none;
}

.other-msg__name {
	font-family: PT Sans;
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	cursor: pointer;
	margin-top: 10px;
	margin-left: 15px;
	color: #dd6667;
	& + * {
		padding-top: 5px;
	}
}
