@use "~/assets/styles/_variables.scss" as variables;

.window__user-data {
	display: flex;
	gap: 10px;
	align-items: center;
	flex-basis: auto;
}

.user__name-status {
	display: flex;
	gap: 5px;
	align-items: flex-end;
	margin-bottom: 5px;
}

.user__name-status_mobile {
	margin-bottom: 2px;
}

.user__name {
	font-size: 16px;
	font-weight: 400;
	color: variables.$color-active;
	text-decoration: underline;
	cursor: pointer;
}

.user__name:hover {
	text-decoration: none;
}

.user__name_is-group {
	color: #000;
	text-decoration: none;
	cursor: unset;
}

.user__status {
	font-size: 12px;
	font-weight: 400;
	color: variables.$color-dark-grey;
	margin-bottom: 1px;
}

.user__position {
	font-size: 12px;
	font-weight: 400;
	color: variables.$color-dark-grey;
}

.user__user-data {
	flex: 1 1 auto;
}

@media (max-width: 1200px) {
	.user__user-data {
		max-height: 55px;
		overflow: hidden;
	}
}

.user__chat-users {
	display: flex;
	flex-wrap: wrap;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	font-weight: 400;
	color: variables.$color-dark-grey;
}

.user__chat-user {
	margin-right: 5px;
}
