@use '~/assets/styles/_variables.scss' as variables;

.window {
  padding: 15px 0 15px 0;
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.window__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 23px;
  height: 50px;
  padding-left: 25px;
  padding-right: 50px;
  flex: 0 0 50px;
}

.window__top_mobile {
  padding-left: 10px;
  padding-right: 30px;
  gap: 0;
}

.window__body {
  flex: 1 1 auto;
}

.window__user-data {
  display: flex;
  gap: 10px;
  align-items: center;
  flex: 1 1 auto;
}

.user__chat-users {
  width: 99%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.window__actions {
  display: flex;
  gap: 40px;
  align-items: center;
  position: relative;
}

.window__actions_mobile {
  gap: 35px;
}

.window__icon {
  cursor: pointer;
}

.user__position,
.user__chat-user {
  font-size: 12px;
  font-weight: 400;
  color: variables.$color-dark-grey;
}

.window__back-icon {
  height: 20px;
  cursor: pointer;
  margin-right: 25px;
}
