@use "~/assets/styles/_variables.scss" as variables;

.documents {
	min-width: 64px;
	width: 64px;
}

.document__delete-and-icon {
	display: flex;
	flex-direction: column;
	height: 64px;
	width: 64px;
	border-radius: 5px;
	background-color: #f6f5f3;
	padding: 0;
	margin-bottom: 5px;
	position: relative;
	overflow: hidden;
}

.document__delete {
	position: absolute;
	height: 20px;
	width: 20px;
	cursor: pointer;
	transition: 0.2s all;
	color: #a6b7d4;
	top: -2px;
	right: 3px;
}

.document__delete:hover {
	color: #1253a2;
}

.document__icon {
	margin-top: 20px;
	flex: 0 0 28px;
	width: 28px;
	align-self: center;
}

.document__pdf {
	overflow: hidden;
}

.document__title {
	font-size: 14px;
	font-weight: 400;
	color: #bcbcbc;
	word-wrap: break-word;
}
