@use '~/assets/styles/_variables.scss' as variables;

.dialog {
  height: calc(100vh - 81px);
  border-top: solid 1px #eeeff1;
  padding: 10px 10px 0 0;
  background-color: variables.$color-pale-grey;
  display: flex;
  flex-direction: column;
}

.dialog_mobile {
  padding: 15px 0 0 0;
}

.dialog__wrapper {
  flex: 1 1 auto;
  margin-bottom: 35px;
  overflow-y: auto;
  padding-right: 50px;

  &::-webkit-scrollbar {
    width: 3px;
    height: 122px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: variables.$color-blue-grey;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.dialog__wrapper_mobile {
  padding-right: 5px;
  padding-left: 5px;
}

.dialog__wrapper_flex {
  display: flex;
  align-items: flex-end;
}

.dialog__wrapper-scroll {
  flex: 1 1 auto;
}

.dialog__body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.dialog__actions {
  flex: 0 0 50px;
  padding: 25px 50px 25px 25px;
  display: flex;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
}

.dialog__actions_mobile {
  padding: 25px 10px;
}

.dialog__voice-messages {
  background-color: #f7f8fa;
  padding: 25px;
}

.dialog__message {
  position: relative;
  z-index: 10;
}

.dialog__input {
  flex: 1 1 auto;
}

.dialog__send-msg {
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: variables.$color-blue-grey;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 150;
  transition: 0.5s all;
}

.dialog__send-msg:active {
  background-color: variables.$color-blue-grey;
  opacity: 0.6;
}

.dialog__send-msg_active {
  background-color: variables.$color-red;
  animation: pulse 1s infinite;
  align-items: flex-end;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.dialog__voice-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: transparent;
}

.dialog__voice {
  width: 400px;
  align-self: flex-end;
}
